<!DOCTYPE html>
<html>
  <head>
    <title><%= author.name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= author.name %></h1>
    <img src= '<%= author.photo %>' alt='Mi foto' width='128' height='128'>
  </body>
</html>