<!DOCTYPE html>
<html>
	<head>
  	</head>
  	<body align= 'center'>
		<h1>Autor : Clara Quevedo Galán</h1>
		<p> mailto: clara.quevedo.galan@alumnos.upm.es </p>
	</body>
	<footer>
	 	<a href="https://github.com/quevedoclara/quiz"> Página de GitHub </a>
		<div><a href="/"> Volver al índice </a> </div>
	</footer>
</html>