<!DOCTYPE html>
<html>
	<head>
  	</head>
  	<body align= 'center'>
		<h1>Autores : Clara Quevedo Galán</h1>
		<p> mailto: clara.quevedo.galan@alumnos.upm.es </p>
		<h1>Autores : Alejandro Rivelles García</h1>
		<p> mailto: alejandro.rivelles.garcia@alumnos.upm.es </p>
	</body>
	<footer>
	 	<a href="https://github.com/quevedoclara/quiz"> Página de GitHub </a>
		<div><a href="/"> Volver al índice </a> </div>
	</footer>
</html>