<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a Quiz</h1>
    <p>El portal donde podrá crear sus propios juegos!</p>
    <div id="navegador">
	<ul>
	<li><a href="/">Index</a></li>
	<li><a href="/author">Author</a></li>
	</ul>
	</div>
  </body>
  <footer>
  	<a href='https://github.com/quevedoclara/quiz'> Enlace a pagina de proyecto en Github </a>
  </footer>
</html>
