<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div>
      <nav>
        <ul>
          <li><a href='/'> Página Inicio</a></li>
          <li><a href='/author'> Autor </a></li>
        </ul>
      </nav>
    </div>
    <h1>Bienvenido a <%= title %></h1>
    <p>El portal donde podrá crear sus propios juegos!</p>
  </body>
  
  <footer>
  	<a href='https://github.com/quevedoclara/quiz'> Enlace a pagina de proyecto en Github </a>
  </footer>
</html>
