<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>El portal donde podrá crear sus propios juegos!</p>
  </body>
  <footer>
  	<a href='https://github.com/quevedoclara/quiz'> Enlace a pagina de proyecto en Github </a>
  </footer>
</html>
